*.exe
*.sum
*.pdf
*.png
*.ipynb_checkpoints
*.dll
*.sum
*.sum.yaml
*__pycache__*
_*
!__init__.py
*.json

*.out
*.outb
*.lin
*.pkl
*.csv
*.tex

TS_*
TetraSpar*

# Latex
*.aux
*.log
*.gz
*.aux
*.bbl
*.blg
*.log
*.synctex.gz
*.toc
